In [11]:
import seaborn as sns 
import pandas as pd

## Notes

Q1 - How would you define MAE to a recruiter? How would you use MAE to evaluate the quality of your model?  

Mean absolute Error is a way of evaluating the quality or performance of your model - how consistent it is with future predictions.  
Important here is to avoid using 'accuracy' to describe MAE.  "Accuracy" is reserved for classification type predictions.  
MAE is the average error difference between expected and predicted values of an experiment.  
A lower MAE generally means a heigher quality model - assuming it isnt overfit.   
Using your best line of fit you add up all the absolue caules of residuals (error) and divide it by the # of residules.  This gives you the mean absolute error of the line.  MAE is used to evaluate the quality of the model in relation to the established baseline.  
Your final MAE report will be from your testing set.

In [8]:
penguins = sns.load_dataset("penguins")
#C# display(penguins.head() )

In [48]:
#T# Find the # of classes in species. 
#C# penguins['species'].unique()
#># array(['Adelie', 'Chinstrap', 'Gentoo'], dtype=object)

In [49]:
#C# penguins['island'].unique()
#># array(['Torgersen', 'Biscoe', 'Dream'], dtype=object)

In [52]:
#C# penguins.info()

In [22]:
#T# Reshape the array so that it's 2D; we'll use the np.newaxis method as before.
import numpy as np 
# Import the encoder
from sklearn.preprocessing import OneHotEncoder

# Select and reshape input array
#C# penguins['species'].shape #># (344,)
species = penguins.species[:, np.newaxis]

# Instantiate the encoder as an object
one_hot = OneHotEncoder(sparse=False)
# Use the fit_transform method (2 steps in 1)
encoded = one_hot.fit_transform(species)
# Display every 25 row
encoded[::45]

C:\Users\somer\AppData\Local\Temp/ipykernel_9116/1094433381.py:8: FutureWarning: Support for multi-dimensional indexing (e.g. `obj[:, None]`) is deprecated and will be removed in a future version.  Convert to a numpy array before indexing instead.
  species = penguins.species[:, np.newaxis]

array([[1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [0., 1., 0.],
       [0., 0., 1.],
       [0., 0., 1.],
       [0., 0., 1.]])

In [29]:
species[::25]

array([['Adelie'],
       ['Adelie'],
       ['Adelie'],
       ['Adelie'],
       ['Adelie'],
       ['Adelie'],
       ['Adelie'],
       ['Chinstrap'],
       ['Chinstrap'],
       ['Gentoo'],
       ['Gentoo'],
       ['Gentoo'],
       ['Gentoo'],
       ['Gentoo']], dtype=object)

In [35]:
pd.Series()
species

ValueError: Data must be 1-dimensional

In [12]:
pd.concat([encoded, penguins], axis=1)

TypeError: cannot concatenate object of type '<class 'numpy.ndarray'>'; only Series and DataFrame objs are valid

In [4]:
island2 = penguins.island[:, np.newaxis]
encoded2 = one_hot.fit_transform(island2)
encoded2[::45]

C:\Users\somer\AppData\Local\Temp/ipykernel_9116/301902788.py:1: FutureWarning: Support for multi-dimensional indexing (e.g. `obj[:, None]`) is deprecated and will be removed in a future version.  Convert to a numpy array before indexing instead.
  island2 = penguins.island[:, np.newaxis]

array([[0., 0., 1.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [0., 1., 0.],
       [1., 0., 0.],
       [1., 0., 0.],
       [1., 0., 0.]])

In [5]:
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [18]:
#penguins['island2'] = island2.tolist()
pd.concat([island2, penguins], axis=1)

TypeError: cannot concatenate object of type '<class 'numpy.ndarray'>'; only Series and DataFrame objs are valid

In [7]:
penguins.head()

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex,island2
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male,[Torgersen]
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female,[Torgersen]
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female,[Torgersen]
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN,[Torgersen]
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female,[Torgersen]

In [ ]:
import sklearn.preprocessing as preprocessing
import numpy as np
import pandas as pd

targets = np.array(["red", "green", "blue", "yellow", "pink",
                    "white"])
labelEnc = preprocessing.LabelEncoder()
new_target = labelEnc.fit_transform(targets)
onehotEnc = preprocessing.OneHotEncoder()
onehotEnc.fit(new_target.reshape(-1, 1))
targets_trans = onehotEnc.transform(new_target.reshape(-1, 1))
print("The original data")
print(targets)
print("The transform data using OneHotEncoder")
print(targets_trans.toarray())

In [ ]:
from sklearn.preprocessing import OneHotEncoder
import pandas as pd

# creating a toy data frame to test
df = pd.DataFrame({'Gender': ['M', 'F', 'M', 'M', 'F', 'F', 'F']})

# instantiating and transforming the 'Gender' column of the df
one_hot = OneHotEncoder()
encoded = one_hot.fit_transform(df[['Gender']])

# one_hot object has an attribute 'categories_', which stores the array
# of categories sequentially, and those categories can serve as 
# new columns in our data frame.

df[one_hot.categories_[0]] = encoded.toarray()

In [ ]:
df.head()
#	 Gender	 F	 M
# 0	    M	0.0	1.0
# 1	    F	1.0	0.0
# 2	    M	0.0	1.0
# 3	    M	0.0	1.0
# 4	    F	1.0	0.0

In [19]:
penguins = sns.load_dataset("penguins")
display(penguins.head())

,species,island,bill_length_mm,bill_depth_mm,flipper_length_mm,body_mass_g,sex
0,Adelie,Torgersen,39.1,18.7,181.0,3750.0,Male
1,Adelie,Torgersen,39.5,17.4,186.0,3800.0,Female
2,Adelie,Torgersen,40.3,18.0,195.0,3250.0,Female
3,Adelie,Torgersen,NaN,NaN,NaN,NaN,NaN
4,Adelie,Torgersen,36.7,19.3,193.0,3450.0,Female

In [21]:
penguins.describe

<bound method NDFrame.describe of     species     island  bill_length_mm  bill_depth_mm  flipper_length_mm  \
0    Adelie  Torgersen            39.1           18.7              181.0
1    Adelie  Torgersen            39.5           17.4              186.0
2    Adelie  Torgersen            40.3           18.0              195.0
3    Adelie  Torgersen             NaN            NaN                NaN
4    Adelie  Torgersen            36.7           19.3              193.0
..      ...        ...             ...            ...                ...
339  Gentoo     Biscoe             NaN            NaN                NaN
340  Gentoo     Biscoe            46.8           14.3              215.0
341  Gentoo     Biscoe            50.4           15.7              222.0
342  Gentoo     Biscoe            45.2           14.8              212.0
343  Gentoo     Biscoe            49.9           16.1              213.0

     body_mass_g     sex
0         3750.0    Male
1         3800.0  Female
2         3250.0  Female
3            NaN     NaN
4         3450.0  Female
..           ...     ...
339          NaN     NaN
340       4850.0  Female
341       5750.0    Male
342       5200.0  Female
343       5400.0    Male

[344 rows x 7 columns]>